<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div class="feature">
      <span class="left logo"></span>
      <div class="left">
        <h6>Brought to you by</h6>
        <h4><%= config.title %></h4>
      </div>
      <div class="btn-group right">
        <a class="btn-main bg-green" href="/">Get Litesuits</a>
      </div>
    </div>
    <div class="copyright">
      <h4 class="left">&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></h4>
      <nav class="contacts right">
        <a class="nav-link" href="#">QQ</a>
        <a class="nav-link" href="#">Weibo</a>
        <a class="nav-link" href="<%- url_for(config.github) %>">Github</a>
      </nav>
    </div>
  </div>
</footer>