<header id="header"<% if(index) {%> class="index"<%}%>>
  <div id="header-outer" class="outer">
    <div id="header-inner" class="inner">
      <div class="inner-container">
        <nav id="main-nav" class="main-nav">
          <% for (var i in theme.menu){ %>
            <a class="nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
          <% } %>
        </nav>
        <nav id="sub-nav" class="right">
          <% if(theme.donate) { %>
            <a class="nav-link blue" href="<%- url_for(theme.donate) %>">Donate</a>
          <% } %>
          <a class="nav-link green" href="<%- url_for(config.github) %>">View on Github</a>
        </nav>
      </div>
    </div>
    <% if(index) { %>
    <%- partial('_partial/playground') %>
    <% } %>
  </div>
</header>